<div class="container pad-top">
	Search : <input type="text" placeholder="Search Fixtures"
		ng-model="searchText" /> </br> Choose a game week : <select
		ng-model="selected_fixture"
		ng-options="fixture.matchday for fixture in fixtures | unique: 'matchday'">
		<option value="">Choose Game week</option>
	</select> <a class="btn btn-primary"
		ui-sref="viewGameweek({id:selected_fixture.matchday})">View
		gameweek {{selected_fixture.matchday}}</a>
	<table class="table fixturetable">
		<tr>
			<td><h3>GAME Week</h3></td>
			<td></td>
		</tr>
		<tr>
			<td>Matchday</td>
			<td>ListId</td>
			<td>ID</td>
			<td>Fixture</td>
			<td>Result</td>
			<td>Fixture details</td>
		</tr>
		<tr ng-repeat="fixture in gameweek | filter : searchText ">
			<td>{{fixture.matchday}}</td>
			<td>{{fixture.listId}}</td>
			<td>{{fixture.fixtureId}}</td>
			<td>{{fixture.homeTeamName}} vs {{fixture.awayTeamName}}</td>
			<td>{{fixture.result.goalsHomeTeam}}:{{fixture.result.goalsAwayTeam}}</td>
			<td><a class="btn btn-primary"
				ui-sref="viewFixture({id:fixture.listId})">View fixture</a> <a
				class="btn btn-primary"
				ui-sref="viewHeadToHead({id:fixture.fixtureId})">View Head to
					head</a> <!--    <a class="btn btn-danger"  ng-click="deleteFixture(fixture)">Delete</a> -->
			</td>
		</tr>
	</table>
</div>
